/* Global */

* {
  margin: 0;
  box-sizing: border-box;
}


article {
  padding-bottom: 30px;
}


h2 {
  font-size: 100px;
}

/* Footer */
footer {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  font-family: $font-regular;
}

/* Pseudoelementy */
h3 {
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 400px;
  height: 3px;
  background-color: $color-main;
  margin-top: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-title-2::after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background-color: $color-main;
  margin-top: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.products-section h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: $color-main;
  margin-top: 37px;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
}

.product.reverse h1::after {
  left: 45%;
}
/* Media */

@media (max-width: 770px) {
  .products-section h1::after {
    display: none; 
  }

  .home-section .nav-bar {
    justify-content: center; 
  }

  .product.reverse h1 {
    text-align: left;
  }
  .about-section p {
    font-size: 20px;
  }
  .laur {
    padding-left: 50px;
  }
}
