/* Global */

* {
  margin: 0;
  box-sizing: border-box;
}


article {
  padding-bottom: 30px;
}


h2 {
  font-size: 100px;
}
.prolaur {
  position: relative;
}
.laur {
  position: absolute;
  max-width: 400px; /* Maksymalna szerokość obrazu */
  top: 350px;
  right: 50px;
}

/* Footer */
footer {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  font-family: $font-regular;
}

/* Pseudoelementy */
h3 {
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 400px;
  height: 3px;
  background-color: $color-main;
  margin-top: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-title-2::after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background-color: $color-main;
  margin-top: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.products-section h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: $color-main;
  margin-top: 37px;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
}

.product.reverse h1::after {
  left: 45%;
}
/* Media */
@media (max-width: 1160px){
  .laur{
  max-width: 320px;
  left: 150px;
  top: 250px;
  }
}

@media (max-width: 964px){
  .laur{
    max-width: 320px;
    left: 100px;
    top: 250px;
  }
}
@media (max-width: 854px){
  .laur{
  max-width: 320px;
  left: 70px;
  top: 300px;
  }
}


@media (max-width: 770px) {
  .products-section h1::after {
    display: none; 
  }

  .home-section .nav-bar {
    justify-content: center; 
  }

  .product.reverse h1 {
    text-align: left;
  }

  .about-section p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .laur {
    top: 700px;
    left: 100px
  }

}
@media (max-width: 657px) {
  .laur {
    top: 650px;
    left: 30px
  }

}
@media (max-width: 560px) {
  .laur {
    top: 620px;
    right: 100px;
  }
  .about-section p {
    font-size: 15px;
  }

}
@media (max-width: 476px) {
  .laur {
    top: 600px;
    right: 300px;
  }

}
@media (max-width: 428px){
  .laur {
    display: none;
  }
}

