/* Variables */

$color-main: #BEA67C;
$color-light: #FFF;
$color-dark: #000;


$font-regular: 'Source Sans 3', sans-serif;
$font-semibold: 'Source Sans 3 SemiBold', sans-serif;
$font-bold: 'Source Sans 3 Bold', sans-serif;